---
import Section from '../Section.astro'
import Badge from '../Badge.astro'
import Card from '../Card.astro'
import SocialBadge from '../SocialBadge.astro'
import Linkedin from '../icons/Linkedin.astro'
import GitHub from '../icons/GitHub.astro'
---

<Section>
  <Card
    className='flex flex-col-reverse lg:flex-row items-center justify-center px-8 py-6 w-full '
  >
    <div class='flex flex-col gap-1 lg:mr-32 w-full'>
      <h1 class='text-4xl font-bold tracking-tight sm:text-5xl'>
        Jorge Ulloa Castillo
      </h1>
      <p
        class='mt-3 lg:mt-6 text-lg [&>strong]:text-yellow-400 [&>strong]:font-normal text-pretty'
      >
        <strong
          >Ingeniero Civil en Inform치tica de la Universidad Austral de Chile 游뻟릖
        </strong>, tengo 23 a침os y he desempe침ado trabajos de desarrollo de
        aplicaciones Web para la visualizaci칩n interactiva de datos, an치lisis y
        scrapping de datos y automatizaci칩n de tareas durante el 칰ltimo a침o. Me
        gusta mucho lo que es el machine learning, la IA, y aprender
        constantemente sobre tecnolog칤a.
      </p>
      <nav class='flex gap-3 pt-7'>
        <SocialBadge
          href='https://www.linkedin.com/in/jorge-ulloa-castillo-574161255/'
          ><Linkedin /></SocialBadge
        >
        <SocialBadge href='https://github.com/ulloacastillo'
          ><GitHub /></SocialBadge
        >
      </nav>
    </div>
    <div class='flex lg:flex-col gap-2 w-full lg:w-fit'>
      <figure>
        <img
          src='./jorge.webp'
          alt='Jorge Ulloa Castillo'
          class='w-24 lg:w-48'
        />
      </figure>
      <Badge>Disponible para trabajar</Badge>
    </div>
  </Card>
</Section>

<style>
  img {
    padding: 10px;
    clip-path: circle(50% at 50% 50%);
  }
</style>
