---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/Hero.astro'
import Education from '../components/sections/Education.astro'
import Section from '../components/Section.astro'
import Experience from '../components/sections/Experience.astro'
import Projects from '../components/sections/Projects.astro'
---

<Layout title='Jorge Ulloa Castillo | Ingeniero Civil en Informática'>
  <div class='fixed left-0 top-0 -z-10 h-full w-full'>
    <div class='relative h-full w-full bg-slate-800'>
      <div
        class='absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#ffffff2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]'
      >
      </div>
    </div>
  </div>
  <main class='mt-20'>
    <Hero />
    <Section className='flex flex-col lg:flex-row justify-between gap-8 mb-8'>
      <Experience />
      <Education />
    </Section>

    <Projects />
  </main>
</Layout>

<style></style>
