---
const { href } = Astro.props
---

<a
  href={href}
  target='_blank'
  role='link'
  class='rounded-full p-2 cursor-pointer bg-gray-500 text-white dark:bg-white dark:text-gray-500 hover:bg-white hover:text-gray-500 hover:dark:bg-gray-500 hover:dark:text-white'
>
  <slot />
</a>
